/**
* modern-dark theme
*/

.modern-dark .menu .panel-body {
	border-color: black !important;
}

.modern-dark .menu .menu-header .panel {
	border-color: #424242 !important;
}

.modern-dark .menubar,
.modern-dark .toolbar {
	border-color: #ddd !important;
}

.modern-dark .panel-header {
	border-bottom-color: #eee;
	color: #ffffff;
}

.modern-dark .menu-header {
	border-color: #ccc;
}

.modern-dark .form-layout {
	border-color: #ccc;
}

.modern-dark .form-layout-design:not(.form-layout-container),
.modern-dark .form-layout-design .widget:not(.form-layout) {
	border-color: transparent;
}

.modern-dark .toolbar-pallete {
	background-color: #333333;
	border: 1px solid white;
}

.modern-dark .panel-field {
	border-color: red;
}

.modern-dark .panel-children-error {
	color: #adadad;
}

.modern-dark .dummy-field {
	background-color: #424242;
	border-color: #424242 !important;
}

.modern-dark .error-field {
	border-color: red !important;
}

.modern-dark .form-layout-design .widget.hovered:not(.form-layout) {
	border-color: green;
}

.modern-dark .form-layout-design .widget.edit {
	border-color: #666666 !important;
}

.modern-dark .widget:not(.form-field) {
	border-color: black !important;
}

.modern-dark .widget.active {
	background: #eee;
}

.modern-dark .border-wizard,
.modern-dark
	.form-layout-container.form-layout-design
	div#form-view:not(.no-border) {
	border-color: #ddd;
	box-shadow: 1px 2px 8px 0px rgb(0 0 0 / 35%) !important;
	background-color: #323232;
}

.modern-dark .widget.form-field:not(.form-layout) > .widget-remove {
	background: #000;
	color: #fff;
}

.modern-dark .property input:invalid + span:after {
	color: #f00;
}

.modern-dark .property input:valid + span:after {
	color: #26b72b;
}

.modern-dark .button-container {
	background-color: #03a9f4;
	border-color: #03a9f4;
}

.modern-dark .button-container button {
	color: #fff;
}

.modern-dark .active-tab {
	color: #03a9f4;
	border-bottom-color: #03a9f4 !important;
}

.modern-dark .dump-tab {
	background: #424242;
	color: #000;
}

.modern-dark .tabs {
	border-bottom-color: #424242;
}

.tabs::-webkit-scrollbar-track {
	/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
	background-color: rgba(0, 0, 0, 0.05);
}

.tabs::-webkit-scrollbar {
	z-index: 9999;
	height: 7px;
	background-color: rgba(0, 0, 0, 0.05);
}

.tabs::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.4);
}

.modern-dark .hover-liner {
	border-color: darkslategrey;
	background-color: rgba(0, 255, 255, 0.1);
}

.modern-dark .spacer {
	background: #383838;
}

.modern-dark .separator-field {
	border-color: black;
}

.modern-dark table .widget.dump {
	background: #323232;
}

.modern-dark table tr.empty-row > td > .widget.dump,
.modern-dark table td.separator > .widget.dump {
	background: #323232;
}

.modern-dark .widget.dummy-widget .spacer {
	background: #fff;
}

.modern-dark .form-layout-design .widget.dummy-widget .spacer {
	background: none;
}

.modern-dark .draggable-items > div {
	background: #eee;
	border-color: black !important;
}

.modern-dark .boolean-text {
	color: #fff;
}

.modern-dark .one-to-many-header {
	color: #3a3a3a;
}
.modern-dark .one-to-many-col {
	color: #fff;
	border-color: #ddd;
}

.modern-dark .custom-field-view-header {
	background-color: rgba(221, 221, 221, 0.2);
	border-color: #ddd;
}

.modern-dark .text-input {
	border-bottom-color: #c0c0c0;
	background-color: #323232;
	color: #fff;
}

.modern-dark .widget.label {
	color: #fff;
}

.modern-dark .non-title-panel {
	border-color: #eee !important;
	box-shadow: 1px 2px 8px 0px rgba(255, 255, 255, 0.45);
}

.modern-dark .menu .field-container {
	border-bottom-color: #ddd !important;
}

.modern-dark .form-body input:active,
.modern-dark .form-body input:focus {
	border-bottom-color: #0275d8;
}

.border-wizard,
.form-layout-container.form-layout-design div#form-view:not(.no-border) {
	border-color: #fff;
	background: white;
}
