.root {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.label {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 3px;
  color: rgba(var(--bs-body-color-rgb), 0.65) !important;
  /* font-size: var(----ax-theme-panel-header-font-size, 1rem); */
}
