.add {
  width: fit-content;
  color: inherit;
  overflow: hidden;
  cursor: pointer;
}

.clear {
  width: fit-content;
  overflow: hidden;
  color: inherit;
}

.label {
  color: rgba(var(--bs-body-color-rgb), 0.65) !important;
  /* font-size: var(----ax-theme-panel-header-font-size, 1rem); */
  vertical-align: middle;
  margin-bottom: 3px;
  margin-right: 10px;
}

.tableHead {
  vertical-align: middle;
  text-align: center;
}

.input {
  padding: 3px 0px 3px 6px;
  min-width: 30px;
  max-width: 95%;
  width: 100%;
}
