<?xml version="1.0" encoding="utf-8"?>
<%
	query = com.axelor.inject.Beans.get('com.axelor.studio.db.repo.WsRequestRepository' as Class).all()

	if(__ids__ != null) {
		query = query.filter('self.studioApp.id in ?1',__ids__)
	}

	wsRequests = ""
	query.fetch().each({
		request ->

				headers = com.axelor.studio.service.ExportService.exportWsKeyValueHeadersLines(request.headerWsKeyValueList, 4, 'header')

				payloads = com.axelor.studio.service.ExportService.exportWsKeyValueLines(request.payLoadWsKeyValueList, 4, 'payload')

				parameters = com.axelor.studio.service.ExportService.exportWsKeyValueLines(request.parameterWsKeyValueList, 4, 'parameter')

				connectors = com.axelor.studio.service.ExportService.exportConnectors(request.wsConnector, 4, 'connector')

				wsRequests += """\n\t\t<ws-request>
				\n\t\t\t<name>${request.name}</name>
				\n\t\t\t<wsUrl>${request.wsUrl}</wsUrl>
				\n\t\t\t<requestTypeSelect>${request.requestTypeSelect}</requestTypeSelect>
				\n\t\t\t<payLoadTypeSelect>${request.payLoadTypeSelect}</payLoadTypeSelect>
				\n\t\t\t<callIf>${request.callIf}</callIf>
				\n\t\t\t<repeatIf>${request.repeatIf}</repeatIf>
				\n\t\t\t<parameters>$parameters
                \n\t\t\t</parameters>
				\n\t\t\t<headers>$headers
				\n\t\t\t</headers>
				\n\t\t\t<payloads>$payloads
				\n\t\t\t</payloads>
				\n\t\t\t<connectors>$connectors
				\n\t\t\t</connectors>
				\n\t\t\t<studioApp>${request.studioApp?.code}</studioApp>
				\n\t\t</ws-request>"""
	})

	if (!wsRequests.isEmpty()) {
		wsRequests = """<ws-requests>\n""" +  wsRequests + """\n</ws-requests>"""
	}

	out << """$wsRequests"""
%>
