[submodule "react-components/bpm-webapp"]
	path = react-components/bpm-webapp
	url = ../react/bpm-webapp
[submodule "react-components/studio"]
	path = react-components/studio
	url = ../react/studio
[submodule "react-components/webservices-builder"]
	path = react-components/webservices-builder
	url = ../react/webservices-builder
[submodule "react-components/baml"]
	path = react-components/baml
	url = ../react/baml
