stages:
  - init
  - build
  - test
  - plan
  - deploy
  - cleanup

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_TAG
    - if: $CI_COMMIT_REF_PROTECTED == "true"

include:
  - local: ci/base.gitlab-ci.yml
  - local: ci/aws.gitlab-ci.yml
    rules:
      - if: $CI_PIPELINE_SOURCE == "schedule"
        when: never
      - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH