.main {
  display: flex;
  flex-direction: column;
}

.container {
  margin-top: 10px;
}

.label {
  display: inline-block;
  vertical-align: middle;
  margin: 3px 0px;
  /* color: rgba(var(--bs-body-color-rgb), 0.65) !important; */
  font-size: var(----ax-theme-panel-header-font-size, 1rem);
}

.select {
  width: 100%;
  box-sizing: border-box;
}

.select input[type="text"] {
  width: 100%;
  text-overflow: ellipsis;
  box-sizing: border-box;
}

.iconButton {
  margin: 5px 0px 5px 5px;
  border-radius: 0;
  border: 1px solid #ccc;
  padding: 2px;
  color: inherit;
  width: fit-content;
}

.newIcon {
  margin-left: 4px;
  cursor: pointer;
}

.save {
  min-width: 64px;
  margin: 8px;
  text-transform: none;
}

.dialogContent {
  display: flex;
  align-items: flex-end;
  overflow: auto;
}

.dialog {
  min-width: 300px;
}

.content {
  font-size: 16px;
}

.teamFieldPathDialog > div {
  max-width: 90%;
  width: fit-content;
  min-width: 500px;
}
.fieldsContainer {
  display: flex;
  align-items: center;
}

.iconsContainer {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.popupContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.fieldItem {
  flex: 1;
  margin-right: 12px;
}
.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  margin: 10px;
}

.textbox {
  width: 100%;
  text-overflow: ellipsis;
  margin-top: -3px;
  box-sizing: border-box;
}

.checkContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tableCell {
  padding: 6px;
  text-align: center;
  vertical-align: middle;
}

.tableHead {
  padding: 6px !important;
  margin: 3px 0px;
  text-align: center;
}

.checkBox {
  justify-content: center;
}

.warning {
  display: block; /* Ensure the span behaves like a block element */
  text-align: center; /* Center the text horizontally */
  width: 100%; /* Ensure the warning message takes up the full width of the container */
  box-sizing: border-box;
}
