.main {
  display: flex;
  flex-direction: column;
}

.container {
  margin-top: 10px;
}

.label {
  display: flex;
  vertical-align: middle;
  margin: 3px 0;
  color: rgba(var(--bs-body-color-rgb), 0.65) !important;
}

.select {
  margin: 0 5px 0 0;
}

.iconButton {
  border-radius: 0;
  color: inherit;
  width: fit-content;
}

.newIcon {
  margin-left: 4px;
  cursor: pointer;
}

.save {
  min-width: 64px;
  margin: 8px;
  text-transform: none;
}


.title {
  font-weight: bolder;
  display: inline-block;
  vertical-align: middle;
  font-size: 100%;
  transition: margin 0.218s linear;
  width: 100%;
  padding-left: 5px;
  background-color: transparent;
  border: none;
}

.dialogContent {
  display: flex;
  align-items: flex-end;
  overflow: auto;
}

.tableCell {
  padding: 6px;
  text-align: center;
  vertical-align: bottom;
}

.dialog {
  min-width: 300px;
}

.leftAlign{
  text-align: left;
}
