.tableHead {
  font-weight: 600;
  font-size: 14px;
  text-align: center;
}

.iconButton {
  margin: 5px 0px 5px 5px;
  border-radius: 0;
  padding: 2px;
  color: inherit !important;
  width: fit-content;
  border: 1px solid #ccc;
}

.clear {
  font-size: 1rem;
}

.table {
  margin: 10px 0px;
  overflow: auto;
  max-height: 65vh;
}

.textRoot {
  margin-top: 0;
}
