.groupLabel {
  font-weight: bolder;
  display: inline-block;
  vertical-align: middle;
  font-size: 120%;
  margin: 10px 0px;
  transition: margin 0.218s linear;
  font-style: italic;
}

.groupContainer {
  margin-top: 10px;
}

.divider {
  margin-top: 15px;
}

.linkIcon {
  margin-left: 5px;
}

.link {
  cursor: pointer;
}

.dmn {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.dialogPaper {
  padding: 5px;
  min-width: 450px;
  overflow: auto;
}

.button {
  min-width: 64px;
  margin: 8px;
  text-transform: none;
}

.label {
  display: inline-block;
  vertical-align: middle;
  margin: 3px 0px;
  color: rgba(var(--bs-body-color-rgb), 0.65) !important;
  font-size: var(----ax-theme-panel-header-font-size, 1rem);
}

.actionContainer {
  margin: 5px 0px 0px;
}

.actionSelect {
  margin: 3px 0px;
}

.baml {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.select {
  width: 100%;
}
