.container {
  --ax-nav-select-color: var(--bs-body-color);
  --ax-nav-select-border-color: var(--bs-border-color);
  --ax-nav-select-active-color: var(--bs-primary);
  --ax-nav-select-active-border-color: var(--bs-primary);
  --ax-nav-select-hover-color: var(--bs-primary);
  --ax-nav-select-hover-border-color: var(--bs-border-color);
}

.container {
  display: flex;
  flex-wrap: nowrap;
}

.item {
  display: flex;
  align-items: center;
  white-space: nowrap;
  position: relative;
  margin-right: 1rem;
}

.text {
  display: flex;
  align-items: center;
  border-top: 2px solid var(--ax-nav-select-border-color);
  border-bottom: 2px solid var(--ax-nav-select-border-color);
  padding: 0.125rem 0.25rem 0.125rem 1.375rem;
}

.item::before,
.item::after {
  content: "";
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid var(--ax-nav-select-border-color);
  border-left: none;
  border-bottom: none;
  border-top-right-radius: 4px;
  background: transparent;
  transform: rotate(45deg);
}

.item::before {
  left: -0.75rem;
}

.item::after {
  right: -0.75rem;
}

.item:not(.readonly):hover::before,
.item:not(.readonly):hover::after,
.item:not(.readonly):hover .text {
  color: var(--ax-nav-select-hover-color);
  border-color: var(--ax-nav-select-hover-border-color);
}

.item.active::before,
.item.active::after,
.item.active .text {
  font-weight: 600;
  color: var(--ax-nav-select-active-color) !important;
  border-color: var(--ax-nav-select-active-border-color) !important;
}

.text,
.item::after {
  cursor: pointer;
}

.item.readonly,
.item.readonly::after,
.item.readonly .text {
  cursor: unset;
}

.item::after {
  z-index: 1;
}
