.button {
  min-width: 64px;
  text-transform: none;
}

.grid {
  padding: 0px 5px 0px 0px;
}

.tableCell {
  padding: 6px !important;
  width: 33%;
  text-align: center;
}

.tableHead {
  padding: 6px !important;
  margin: 3px 0px;
  text-align: center;
}

.attributes {
  margin: 3px 0px;
  color: rgba(var(--bs-body-color-rgb), 0.65) !important;
  /* font-size: var(----ax-theme-panel-header-font-size, 1rem); */
}

.iconButton {
  margin: 5px 0px 5px 5px;
  border-radius: 0;
  border: 1px solid #ccc;
  color: inherit;
  padding: 2px;
  width: fit-content;
}

.label {
  display: inline-block;
  vertical-align: middle;
  margin: 3px 0px;
  color: rgba(var(--bs-body-color-rgb), 0.65) !important;
  /* font-size: var(----ax-theme-panel-header-font-size, 1rem); */
}

.typography {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.icon {
  color: inherit;
  margin-right: 10px;
}

.checkbox {
  justify-content: center;
}

.select input[type="text"] {
  width: 100%;
  text-overflow: ellipsis;
}

.textField {
  min-width: 150px;
}
