html,
body,
#container,
.App {
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  height: 100%;
  max-height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.bjs-powered-by {
  display: none;
}

#js-create-diagram {
  width: 150px;
  margin-left: 10px;
  padding: 10px;
}

#message {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

#root,
#container {
  height: 100%;
  overflow: hidden;
  background: white;
}

#container {
  display: flex;
  height: 97%;
}

#bpmnview {
  width: 100%;
  height: 100%;
  float: left;
}

#propview {
  width: 100%;
  overflow-x: auto;
}

#bpmncontainer {
  height: 100%;
  flex: 1;
}

.property-button {
  width: 50px;
  padding: 5px;
  background: #fafafa;
  border: solid 1px #ccc;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.restart-button {
  padding: 5px;
  background: #fafafa;
  border: solid 1px #ccc;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

#js-properties-panel {
  background: #f8f8f8;
  width: calc(100% - 1px);
  position: absolute;
  border-left: 1px solid #ccc;
  overflow: auto;
  height: inherit;
  display: none;
}

#canvas-task .highlight:not(.djs-connection) .djs-visual > :nth-child(1) {
  stroke: var(--main-bg-color, #006400) !important;
}

#canvas-task {
  padding: 0;
  margin: 0;
  height: calc(97% - 50px);
}

#canvas-task > .bjs-container > .djs-container > .djs-palette {
  display: none;
}

.muicc-colorbox-sliders {
  width: 95% !important;
}

h1 {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 20px;
  margin: 0;
  z-index: 1;
  background: rgba(255, 255, 255, 0.8);
  border: solid 1px #ccc;
}

.diagram-note {
  color: white;
  height: 25px;
  width: fit-content;
  min-width: 25px;
  background-color: #006400;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toolbar-buttons {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 0px 20px;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
}

.zoom-buttons {
  width: 50px;
  padding: 5px;
  background: #fafafa;
  border: solid 1px #ccc;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  justify-content: center;
  align-items: center;
}

.snackbarAlert {
  display: flex;
  align-items: center;
}

.snackbarAlert > .MuiAlert-message {
  font-size: 14px;
}

.bpmn-property-toggle {
  position: absolute;
  height: 99px;
  left: -30px;
  top: calc(50% + 60px);
  background: #f8f8f8;
  padding: 7px 10px;
  transform: rotate(-90deg);
  white-space: nowrap;
  font-size: 13px;
  border: solid 1px #ccc;
  border-bottom: none;
  border-radius: 2px 2px 0 0;
  transform-origin: top left;
  z-index: 10;
  cursor: default;
  user-select: none;
}

.bpp-properties-panel [type="text"] {
  width: calc(100% - 35px);
}

@media only screen and (max-height: 710px) {
  #bpmnview > .bjs-container > .djs-container > .djs-palette {
    width: 94px;
  }
}
