.dialogPaper {
    margin: 20px;
    max-height: calc(100% - 40px);
    max-width: calc(100% - 40px);
    display: flex;
  }

  .dialogPaper > div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dialogPaper > div > div {
    max-width: 100%;
    max-height: 100%;
    resize: both;
    overflow: auto;
    min-width: 50%;
  }

  .save {
    min-width: 64px;
    margin: 8px;
    text-transform: none;
  }

  .content {
    font-size: 16px;
    overflow: hidden !important;
  }
