.label {
  display: inline-block;
  vertical-align: middle;
  margin: 3px 0px;
  color: rgba(var(--bs-body-color-rgb), 0.65) !important;
  /* font-size: var(----ax-theme-panel-header-font-size, 1rem); */
}

.select {
  margin: 0;
}

.metajsonModel {
  margin-top: 10px;
}
