:root {
  --container-width: 260px;
}

html,
body,
#canvas,
.App {
  height: 100%;
  background-color: var(--bs-body-bg);
  height: 100%;
  max-height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#properties {
  background: var(--bs-body-bg);
  width: calc(100% - 15px);
  position: absolute;
}

.dmn-definitions {
  display: none;
}

.dmn-js-parent {
  top: 8px;
  height: calc(100% - 75px) !important;
}

.powered-by__logo {
  display: none;
}

#resize-handler {
  position: absolute;
  width: 260px;
  height: 100%;
  right: 0;
  background-color: var(--bs-body-bg);
  max-width: calc(100% - 29.5px);
  overflow: auto;
}

#resize-handler:after {
  content: " ";
  background-color: var(--bs-body-bg);
  position: absolute;
  left: 0;
  width: 0.5px;
  height: 100%;
  cursor: w-resize;
}

.property-toggle {
  position: absolute;
  left: calc(100% - 29.5px - var(--container-width));
  top: calc(50% + 60px);
  background: var(--bs-body-bg);
  padding: 7px 10px;
  transform: rotate(-90deg);
  white-space: nowrap;
  font-size: 13px;
  border: solid 1px var(--bs-body-color);
  border-bottom: none;
  border-radius: 2px 2px 0 0;
  transform-origin: top left;
  z-index: 10;
  cursor: default;
  user-select: none;
}

.snackbarAlert {
  display: flex;
  align-items: center;
}

.snackbarAlert > .MuiAlert-message {
  font-size: 14px;
}

.dpp-properties-entry {
  text-align: left;
}

.dpp-properties-tab-bar {
  text-align: left;
}

.dpp-properties-group {
  text-align: left;
}

.dmn-icon-hand-tool {
  display: none;
}

.view-drd-button {
  display: none;
}

.type-ref-edit {
  display: none;
}

.ref-language {
  display: none;
}

.dmn-expression-language {
  display: none !important;
}

.allowed-values-edit {
  display: none;
}

.custom-context-edit {
  min-width: 170px;
  min-height: 40px;
}

.djs-popup .entry.selected {
  background-color: var(--bs-body-bg) !important;
}

.djs-label {
  font-family: var(--bs-body-font-family) !important;
  fill: var(--bs-black) !important;
  font-weight: var(--bs-body-font-weight) !important;
}

.djs-group .djs-outline {
  stroke: var(--bs-blue) !important;
}

.dmn-decision-table-container .decision-table-properties {
  color: var(--bs-body-color) !important;
  background-color: var(--bs-tertiary-bg) !important;
  border: 1px solid var(--bs-border-color) !important;
}
.dmn-decision-table-container .decision-table-header-separator {
  border-color: var(--bs-border-color) !important;
}

.dmn-decision-table-container .tjs-table-container {
  border: 1px solid var(--bs-border-color) !important;
}
.dmn-decision-table-container td,
.dmn-decision-table-container th {
  border: 1px solid var(--bs-border-color) !important;
}

.dmn-decision-table-container .tjs-table {
  border: 1px solid var(--bs-border-color) !important;
}
.dmn-decision-table-container thead th {
  background-color: var(--bs-tertiary-bg) !important;
}

.dmn-decision-table-container tbody td:first-child,
.dmn-decision-table-container tfoot td:first-child {
  background: var(--bs-body-bg) !important;
}

.dmn-decision-table-container tbody tr:nth-child(even) td {
  background: var(--ax-theme-table-striped-bg) !important;
  border-color: var(--bs-border-color) !important;
}

.dmn-decision-table-container .tjs-table tbody tr:nth-child(2n) {
  background: var(--bs-body-bg) !important;
}
.dmn-decision-table-container thead {
  background: none !important;
}

.dmn-decision-table-container .action-icon {
  box-shadow: 0 0 0 2px var(--bs-body-color) !important;
}

.dmn-decision-table-container .tjs-table {
  z-index: 0;
}

.djs-direct-editing-content {
  color: var(--bs-black);
}
.djs-palette-entries .group .dmn-icon-lasso-tool,
.djs-palette-entries .group .dmn-icon-input-data,
.djs-palette-entries .group .dmn-icon-decision,
.djs-palette-entries .group .dmn-icon-knowledge-source,
.djs-palette-entries .group .dmn-icon-business-knowledge,
.input-expression,
.input-variable,
.input-label,
.clause,
.output-variable,
.content-editable,
.output-label,
.output-name,
.annotation {
  color: var(--bs-body-color) !important;
}

.dmn-icon-plus {
  color: var(--bs-body-color) !important;
  background-color: var(--bs-body-bg) !important;
}

.context-menu {
  background-color: var(--bs-body-bg) !important;
  color: var(--bs-body-color) !important;
}

.context-menu-group-entry:hover {
  color: var(--bs-dark) !important;
}
