.dialogPaper {
  padding: 5px;
  min-width: 450px;
}

.dialogContent {
  max-height: 50vh;
  padding: 20px;
  min-width: fit-content;
}

.button {
  min-width: 64px;
  margin: 8px;
  text-transform: none;
}

.select {
  min-width: 250px;
  margin-left: 10px;
}

.tableCell {
  padding: 0px 10px;
  text-align: center;
}

.tableHead {
  /* font-weight: 600; */
  /* font-size: 12px; */
  text-align: center;
}
.processContainer {
  overflow: auto;
  max-height: 40vh;
}

.process {
  margin-top: 10px;
}

.processHeader {
  margin-bottom: 10px;
  /* font-size: 12px; */
}
