.paper {
  padding: 24px 16px;
  min-width: calc(100% - 55px);
  margin: 10px;
  overflow: auto;
  max-width: 100%;
}

.root {
  flex: 1;
  overflow: auto;
}

.expression {
  display: flex;
  align-items: flex-start;
}

.dialog {
  min-width: 300px;
}

.dialogContent {
  font-size: 16px;
}

.combinator {
  width: fit-content;
}

.save {
  margin: 8px;
  min-width: 64px;
}
