.expressionBuilder {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.newIcon {
  margin-left: 5px;
}

.new {
  cursor: pointer;
  display: flex;
}

.dialog {
  min-width: 300px;
}

.label {
  display: inline-block;
  vertical-align: middle;
  margin: 3px 0;
  color: rgba(var(--bs-body-color-rgb), 0.65) !important;
  /* font-size: var(----ax-theme-panel-header-font-size, 1rem); */
}

.allButtons {
  padding-bottom: 10px;
}

.select {
  margin: 0;
}

.save {
  min-width: 64px;
  margin: 8px;
  text-transform: none;
}

.scriptDialog {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.textbox {
  width: 100%;
  height: calc(100% - 10px);
}
