html,
body {
  height: '100%';
}
.App {
  text-align: center;
  height: '100%';
}

#root {
  height: '100%';
}

.App-header {
  background-color: var(--bs-body-bg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--bs-body-color);
}

.App-link {
  color: var(--bs-blue);
}
