.drawerPaper {
  background: var(--bs-tertiary-bg);
  padding: 0;
  width: 100%;
  position: absolute;
  overflow: auto;
  height: 100%;
  z-index: 2;
}

.drawerContainer {
  padding: 10px;
  height: 100%;
  width: 100%;
}

.select {
  min-width: 150px;
  margin-top: 0;
}
