.nodeTitle {
  font-size: 100%;
  font-weight: bolder;
  display: flex;
  gap: 10px;

}

.navDisable {
  cursor: default;
  pointer-events: none;
  opacity: 0.8;
}

.tabContent {
  border: var(--ax-theme-panel-border, 1px solid var(--bs-border-color));
  border-radius: var(--ax-theme-panel-border-radius, var(--bs-border-radius));
  padding: var(--ax-theme-panel-body-padding, 0.5rem);
}

.executableBadge {
  display: flex;
}

.executableText {
  display: flex;
  align-items: center;
}

.panelHeaderContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 10px 0px 10px;
  border-bottom: var(--ax-theme-panel-border, 1px solid var(--bs-border-color));
}

.panelHeader {
  display: flex;
  align-items: center;
  gap: 10px;
}

.panelIconTitle {
  font-size: 14px;
  text-transform: uppercase;

}

.panelElementName {
  font-weight: 400;
  display: inline-block;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
