.nodeTitle {
  font-weight: bold;
}

.navDisable {
  cursor: default;
  pointer-events: none;
  opacity: 0.8;
}

.tabContent {
  border: var(--ax-theme-panel-border, 1px solid var(--bs-border-color));
  border-radius: var(--ax-theme-panel-border-radius, var(--bs-border-radius));
  padding: var(--ax-theme-panel-body-padding, 0.5rem);
}

.executableBadge {
  display: flex;
}

.executableText {
  display: flex;
  align-items: center;
}
