.iconButton {
  height: 30px !important;
  width: 30px !important;
  transition: background-color 0.2s ease;
}

.iconButton:hover {
  background-color: var(--ax-theme-table-active-bg);
}

.iconButton:disabled,
.iconButton:active {
  border: none;
}
