.input {
  border: 1px solid #ccc;
  margin: 5px 0;
  padding: 0 5px;
}

.label {
  display: inline-block;
  vertical-align: middle;
  margin-top: 5px;
  color: rgba(var(--bs-body-color-rgb), 0.65) !important;
  font-size: var(----ax-theme-panel-header-font-size, 1rem);
}
