.root {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.extensionElements {
  width: 100%;
  overflow: auto;
  border: var(--ax-theme-panel-border, 1px solid var(--bs-border-color));
  padding: var(--ax-theme-panel-body-padding, 0.5rem);
}

.label {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 3px;
  color: rgba(var(--bs-body-color-rgb), 0.65) !important;
  font-size: var(----ax-theme-panel-header-font-size, 1rem);
}

.add {
  right: 1px;
}

.clear {
  right: 27px;
}

.icon {
  top: -23px !important;
  height: 23px;
  border-radius: 0;
  width: 24px;
  padding: 0;
  background: var(--bs-body-bg);
  border: none;
  justify-content: center;
  display: flex;
  align-items: center;
}
