.add {
  border: 1px solid #ccc;
  width: fit-content;
  color: inherit;
  overflow: hidden;
  cursor: pointer;
  border-radius: 0;
}

.clear {
  width: fit-content;
  overflow: hidden;
  color: inherit;
  border: 1px solid #ccc;
  border-radius: 0;
}

.label {
  color: rgba(var(--bs-body-color-rgb), 0.65) !important;
  font-size: var(----ax-theme-panel-header-font-size, 1rem);
  vertical-align: middle;
  margin-bottom: 3px;
  margin-right: 10px;
}

.tableHead {
  vertical-align: middle;
  text-align: center;
}

.input {
  padding: 3px 0 3px 6px;
  min-width: 30px;
  max-width: 95%;
  width: 100%;
}

.editorIcon {
  cursor: pointer;
}
