html,
body,
#root {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.bjs-powered-by {
  display: none;
}

.djs-minimap:not(.open) {
  visibility: hidden;
}

.bjs-container {
  position: relative;
}

.djs-minimap {
  border-radius: var(--bs-border-radius);
  border-color: var(--bs-border-color);
}

.djs-minimap .map {
  background-color: var(--bs-body-bg);
}

.toggle::after {
  content: "X";
  position: absolute;
  top: 50%;
  right: -20px;
  padding: 10px;
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: var(--bs-body-color);
  cursor: pointer;
}

.toggle::before {
  visibility: hidden;
  pointer-events: none;
}

#js-create-diagram {
  width: 150px;
  margin-left: 10px;
  padding: 10px;
}

#message {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

#root {
  display: flex;
  flex-direction: column;
}

#root {
  height: 100%;

  background: var(--bs-body-bg);
}

#container {
  display: flex;
  flex: 1;
  height: 100%;
}

#bpmnview {
  width: 100%;
  height: 100%;
  float: left;
}

#propview {
  width: 100%;
  overflow-x: auto;
}

#bpmncontainer {
  height: 100%;
  flex: 1;
}

.property-button {
  min-width: 50px;
}


#js-properties-panel {
  background: var(--bs-body-bg);
  width: calc(100% - 1px);
  position: absolute;
  border-left: 1px solid var(--bs-border-color);
  overflow: auto;
  height: inherit;
  display: none;
}

#canvas-task .highlight:not(.djs-connection) .djs-visual> :nth-child(1) {
  stroke: var(--main-bg-color, --bs-green) !important;
}

#canvas-task {
  padding: 0;
  margin: 0;
  height: calc(100% - 30px);
}

#canvas-task>.bjs-container>.djs-container>.djs-palette {
  display: none;
}

.muicc-colorbox-sliders {
  width: 95% !important;
}

/* h1 {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 20px;
  margin: 0;
  z-index: 1;
  background: var(--bs-body-bg);
  border: solid 1px var(--bs-border-color);
} */

.diagram-note {
  color: var(--bs-body-bg);
  height: 25px;
  width: fit-content;
  font-size: 12px;
  min-width: 25px;
  background-color: var(--bs-green);
  border-radius: 50%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.diagram-error-note {
  position: relative;
  display: inline-block;
}

.error-count {
  color: var(--bs-body-bg);
  width: 25px;
  height: 25px;
  min-width: 25px;
  font-size: 12px;
  background-color: var(--bs-danger);
  font-weight: 500;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.error-popup {
  background-color: var(--bs-danger-bg-subtle);
  border: 1px solid var(--bs-danger-border-subtle);
  border-radius: var(--bs-border-radius);
  padding: 8px;
  display: block;
  width: 300px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(0);
  z-index: 1;
  transition: transform 0.3s ease;
  color: var(--bs-emphasis-color);
}

/* Arrow-like tooltip */
.error-popup::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  max-height: 400px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent var(--bs-danger-border-subtle) transparent;
  transform: translateX(-50%);
}

.diagram-error-note:hover .error-popup {
  transform: translateX(-50%) scaleY(1);
}

.diagram-error-note .above {
  transform-origin: bottom center;
  bottom: 30px;
}

.diagram-error-note .below {
  transform-origin: top center;
  top: calc(100% + 10px);
}

.error-popup.above::before {
  bottom: -16px;
  border-color: var(--bs-danger-border-subtle) transparent transparent transparent;
}

.error-popup.below::before {
  border-color: transparent transparent var(--bs-danger-border-subtle) transparent;
}

.error-popup h2 {
  font-size: var(--bs-body-font-size) / 2;
  font-weight: 600;
  color: var(--bs-danger);
}

.error-popup .error-message {
  padding: 0 !important;
  margin: 0 !important;
  font-weight: 500;
  height: 70px;
  overflow-y: auto;
  resize: vertical;
  overflow-x: hidden;
}

.error-code {
  font-weight: bold !important;
}

.error-fix-btn {
  padding: 1;
  background-color: var(--bs-link-color);
  color: var(--bs-white);
  border-radius: 5.625px;
  box-shadow: none;
  border: none;
  padding: 4px 8px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.error-fix-btn:hover {
  background-color: var(--bs-link-hover-color);
}

.bpmn-property-toggle {
  height: 99px;
  left: -30px;
  top: calc(50% + 60px);
  padding: 7px 20px;
  transform: rotate(-90deg);
  white-space: nowrap;
  font-size: 13px;
  transform-origin: top left;
  cursor: pointer;
  z-index: 1;
}

.bpp-properties-panel [type="text"] {
  width: calc(100% - 35px);
}

.djs-popup-header {
  margin: 0 !important;
}

.djs-popup-body .entry {
  align-items: center !important;
}

[data-floating-ui-portal] {
  position: absolute;
  z-index: 1055;
}

@media only screen and (max-height: 710px) {
  #bpmnview>.bjs-container>.djs-container>.djs-palette {
    width: 94px;
  }
}

/*  djs-popup styles  */
.djs-popup {
  position: fixed !important;
}

.djs-popup-header {
  align-items: baseline;
}

.djs-popup-title {
  padding: 10px;
  font-size: large;
  text-transform: capitalize;
}

.djs-popup-header-group {
  display: flex;
  align-items: center;
  list-style: none;
  padding-right: 0px !important;
  margin-bottom: 0px !important;
}

.djs-popup-search input {
  background-color: var(--bs-white);
  color: var(--bs-black);
}

.djs-popup-header .entry {
  color: var(--vs-body-color);
}

/* collapse subprocess btn */
.djs-overlay-drilldown,
.djs-overlay-drilldown .bjs-drilldown {
  overflow: hidden;
  border-radius: var(--bs-border-radius);
  border: 1px solid var(--bs-secondary-bg);
  background: var(--bs-border-color) !important;
}

.djs-overlay-drilldown .bjs-drilldown svg path {
  fill: var(--bs-body-color) !important;
}

.bjs-breadcrumbs {
  position: absolute;
  display: none;
  flex-wrap: wrap;
  align-items: center;
  top: 80px;
  left: 200px;
  padding: 0px;
  margin: 0px;
  font-size: 16px;
  line-height: normal;
}

.bjs-breadcrumbs-shown .bjs-breadcrumbs {
  display: flex;
}

.djs-palette-shown .bjs-breadcrumbs {
  left: 90px;
}

.djs-palette-shown.djs-palette-two-column .bjs-breadcrumbs {
  left: 140px;
}

.bjs-breadcrumbs li {
  display: inline-flex;
  padding-bottom: 5px;
  align-items: center;
}

.bjs-breadcrumbs li a {
  cursor: pointer;
}

.bjs-breadcrumbs li:last-of-type a {
  color: var(--bs-primary);
  cursor: default;
}

.bjs-breadcrumbs li:not(:first-child)::before {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" /><path d="M0 0h24v24H0z" fill="none" /></svg>');
  padding: 0 8px;
  height: 1em;
}

.bjs-breadcrumbs .bjs-crumb {
  display: inline-block;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bjsl-button {
  display: none;
}