:root {
  --container-width: 260px;
}

html,
body,
#canvas,
.App {
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  height: 100%;
  max-height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.modeler {
  height: 97%;
  display: flex;
  justify-content: space-between;
}

#canvas {
  height: 100%;
  width: 100%;
}

#properties {
  background: #f8f8f8;
  width: calc(100% - 15px);
  position: absolute;
}

.dmn-definitions {
  display: none;
}

.dmn-js-parent {
  top: 8px;
  height: calc(100% - 75px) !important;
}

.powered-by__logo {
  display: none;
}

#resize-handler {
  position: absolute;
  width: 260px;
  height: 100%;
  right: 0;
  background-color: #f8f8f8;
  max-width: calc(100% - 29.5px);
  overflow: auto;
}

#resize-handler:after {
  content: " ";
  background-color: #ccc;
  position: absolute;
  left: 0;
  width: 0.5px;
  height: 100%;
  cursor: w-resize;
}

.property-toggle {
  position: absolute;
  left: calc(100% - 29.5px - var(--container-width));
  top: calc(50% + 60px);
  background: #f8f8f8;
  padding: 7px 10px;
  transform: rotate(-90deg);
  white-space: nowrap;
  font-size: 13px;
  border: solid 1px #ccc;
  border-bottom: none;
  border-radius: 2px 2px 0 0;
  transform-origin: top left;
  z-index: 10;
  cursor: default;
  user-select: none;
}

.snackbarAlert {
  display: flex;
  align-items: center;
}

.snackbarAlert>.MuiAlert-message {
  font-size: 14px;
}

.dpp-properties-entry {
  text-align: left;
}

.dpp-properties-tab-bar {
  text-align: left;
}

.dpp-properties-group {
  text-align: left;
}

.dmn-icon-hand-tool {
  display: none;
}

.view-drd-button {
  display: none;
}

.type-ref-edit {
  display: none;
}

.ref-language {
  display: none;
}

.dmn-expression-language {
  display: none !important;
}

.allowed-values-edit {
  display: none;
}

.custom-context-edit {
  min-width: 170px;
  min-height: 40px;
}
