.iconButton {
  flex: 0 0 auto !important;
  color: initial;
  padding: 5px !important;
  overflow: visible !important;
  font-size: 1.5rem !important;
  text-align: center !important;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
  border-radius: 50% !important;
  display: inline-flex !important;
  outline: 0 !important;
  position: relative !important;
  align-items: center !important;
  user-select: none !important;
  vertical-align: middle !important;
  justify-content: center !important;
  text-decoration: none !important;
  background-color: transparent !important;
  border: none !important;
}

.iconButton:hover {
  /* background-color: var(--ax-theme-table-active-bg) !important; */
  background-color: rgba(0, 0, 0, 0.04) !important;
}

.iconButton:disabled,
.iconButton:active {
  border: none !important;
}
