.tooltip {
  z-index: 2;
}

.container {
  width: auto;
}

.title {
  padding: 0.5rem;
  margin: 0;
  font-weight: 600;
  background-color: var(--bs-tertiary-bg);
  border-top-left-radius: var(--bs-border-radius);
  border-top-right-radius: var(--bs-border-radius);
}

[data-popper-arrow='true'] {
  background-color: var(--bs-tertiary-bg);
}
