.alertContainer>span {
  margin-top: 2px !important;
}

.alertContainer {
  position: absolute;
  bottom: 15px;
  left: 50%;
  right: auto;
  transform: translateX(-50%);
  z-index: 1000;
  min-height: 60px;
}