.input {
  width: 13%;
  margin-right: 20px;
}

.switchText {
  margin-right: 16px;
  margin-top: 6px;
}

.topView {
  margin: 10px 10px 0px 10px;
  align-items: center;
}

.selectContainer {
  min-width: 150px;
  margin-right: 20px;
}

.selectContainerBPMN {
  min-width: 30%;
}

.process {
  margin-right: 20px;
}
.dialogPaper {
  display: flex;
  max-height: calc(100% - 40px);
  max-width: calc(100% - 40px);
  margin: 20px;
}

.dialogPaper > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.dialogPaper > div > div {
  max-width: 100%;
  max-height: 100%;
  resize: both;
  overflow: auto;
  min-width: 50%;
}
