.root {
  width: 100%;
  height: 100%;
}

.table {
  min-width: 650px;
}

.tableCell {
  text-align: center;
  vertical-align: middle;
}

.valueInputContainer {
  position: relative;
}

.iconButton {
  padding: 8px !important;
}

.deleteIcon {
  color: var(--bs-body-color);
}

.addFieldButton {
  margin: 8px;
  text-transform: none;
}

.move {
  cursor: move;
}

.flex {
  display: flex;
}
