.dialogTitle {
  padding: 16px 24px;
}

.subHeaderRow {
  border-bottom: 1px solid var(--bs-border-color);
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 8px;
  display: flex;
  align-items: center;
}

.fieldListViewContainer {
  padding: 8px 2px 0px 16px;
  overflow-y: auto;
  height: 53.8vh;
}

.searchField {
  width: 75%;
}

.save {
  min-width: 64px;
  text-transform: capitalize;
}
