.newIcon {
  margin-left: 5px;
  cursor: pointer;
}

.dialog > div {
  max-width: 90%;
  width: fit-content;
  min-width: 500px;
}

.dialogContent {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  overflow: auto;
}

.save {
  min-width: 64px;
  margin: 8px;
  text-transform: none;
}

.radio {
  padding: 1px 9px;
  color: var(--bs-blue);
}

.radio.MuiRadio-colorSecondary.Mui-checked {
  color: var(--bs-blue);
}

.group {
  display: flex;
  flex-direction: row;
}

.MuiAutocompleteRoot {
  width: 250px;
  margin-right: 10px;
}
